@media screen and (max-width: 299px) {

    .card-front,
    .card-back {
        width: 30px;
        height: 45px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 48px 48px 48px;
        grid-template-columns: 33px 33px 33px 33px 33px 33px;
        justify-content: center;
    }
}

@media screen and (min-width: 300px) {

    .card-front,
    .card-back {
        width: 40px;
        height: 60px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 63px 63px 63px;
        grid-template-columns: 43px 43px 43px 43px 43px 43px;
        justify-content: center;
    }
}

@media screen and (min-width: 400px) {

    .card-front,
    .card-back {
        width: 50px;
        height: 75px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 78px 78px 78px;
        grid-template-columns: 53px 53px 53px 53px 53px 53px;
        justify-content: center;
    }
}

@media screen and (min-width: 500px) {

    .card-front,
    .card-back {
        width: 60px;
        height: 90px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 93px 93px 93px;
        grid-template-columns: 63px 63px 63px 63px 63px 63px;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {

    .card-back {
        width: 80px;
        height: 120px;
    }

    .card-front {
        width: 78.5px;
        height: 118.5px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 123px 123px 123px;
        grid-template-columns: 83px 83px 83px 83px 83px 83px;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) {

    .card-front,
    .card-back {
        width: 90px;
        height: 135px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 138px 138px 138px;
        grid-template-columns: 93px 93px 93px 93px 93px 93px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {

    .card-back {
        width: 95px;
        height: 142.5px;
    }

    .card-front {
        width: 93px;
        height: 140.6px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 145.5px 145.5px 145.5px;
        grid-template-columns: 98px 98px 98px 98px 98px 98px;
        justify-content: center;
    }
}

@media screen and (min-width: 1600px) {

    .card-front,
    .card-back {
        width: 115px;
        height: 172.5px;
    }

    .container {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 175.5px 175.5px 175.5px;
        grid-template-columns: 118px 118px 118px 118px 118px 118px;
        justify-content: center;
    }
}

.card-front {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}

.card-back:hover {
    cursor: pointer;
}

.card-back:active {
    transform: scale(1);
}

.shuffle-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0.0);
    }

    100% {
        opacity: 0;
        transform: scale(1.0);
    }
}

.clear-icon-good {
    display: inline;
    width: 30px;
    height: 30px;
    color: red;
    vertical-align: -5px;
}

.clear-icon-bad {
    display: inline;
    width: 30px;
    height: 30px;
    color: blue;
    vertical-align: -8px;
}

.clear-b {
    font-size: 28px;
    color: salmon;
    display: flex;
    justify-content: center
}

.clear-ul {
    width: fit-content;
    margin: auto;
}

.clear-li {
    margin-top: 15px;
}

.excellent-h1 {
    text-align: center;
    color: red;
}